.navbar{
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  height: 60px
}

.navbar-nav a{
  color: #647787 !important;
}

.bg-light {
    background-color:  white!important;
}

.offcanvas{
  margin-top: 75px;
  width: 260px;
  background: red
}

.navbar-brand{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
text-align: right;
color: #1875F0 !important;
}

.invoice-btn{
width: 163px;
background: #27AE60;
border-radius: 30px !important;
color: #ffffff;
border:none !important;
padding: 10px;
font-size: 12px;
font-weight: 700;
padding: 15px
}

.navbar .container-fluid{
   padding-left: 50px;
   padding-right: 50px
}